* {
	margin: 0;
}

html body {
 background-color: white;
 height: 90%;
}

.title {
	margin-top: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.jumbotron {
	/*margin: 20px;*/
	text-align: center;

}

.jumbotron h1 {
	font-size: 72px;
	font-weight: bolder;
	padding-top: 0px;
	padding-bottom: 0px;
}

.pick {
	display: block;
}

.mainContent {
	padding: 0px, 0px, 0px, 0px;

}

.mainContent h3{
	color: black;
	font-size: 36px;
	font-weight: bolder;
	text-decoration: underline;
}

#main a{
	text-decoration: none;
	color: white;

}

.sidebar {
	background-color: lightgray;
	padding: 0px;
	margin-bottom: 20px;
	border: 2px solid gray;
	border-radius: 6px;
	min-height: 270px;
	max-height: 320px;
	color: black;
}

.sidebar h1 {
	font-size: 32px;
}

.sidebar p {
	font-weight: bold;
	margin-bottom: 0px;
}

#timer {
	font-size: 50px;
}

.btn-danger{
	margin-top:20px;
	margin-bottom: 20px;
	width: 75%;
	height: 60px;
}

/*#startGame {
	margin-top: 20px;
	position: absolute;
	bottom: 0px;
	left: 10%;
}

#resetGame {
	margin-top: 20px;
	position: absolute;
	bottom: 0px;
	left: 10%;
}*/


#questionTitle {
	background-color: lightgray;
	border: 2px solid gray;
	border-radius: 5px;
	color: gray;
	margin-bottom: 20px;	
	padding: 0;
	font-size: 32px;
	min-height: 125px;
}

#question {
	color: black;
}

#correct {
	font-size: 72px;
}

#wrong {
	font-size: 72px;
}

#answerTitle { 
	background-color: lightgray;
	border: 2px solid gray;
	border-radius: 5px;
	margin:0;
	padding: 0;
	min-height: 125px;
	margin-top: 20px;
	margin-bottom: 20px;
}

#answerTitle  li {	
	display:block;
	font-size: 32px;
	line-height: 80px;
	margin: 10px 0 10px -20px;
	text-align: center;
	width:100%;


}

#popup {
	border: 10px ridge lightgray;
	border-radius: 10px;
	background-color: white;
	color: black;
	cursor: pointer;
	min-height: 360px;
	max-height: 720px;
	width: 500px;
    position: absolute;
    top: 0px;
    left:12px;   
    font-size: 36px;
    text-align: center; 
    visibility:hidden;
    z-index: 10;
}

/*#next {
	margin-top: 20px;
	position: absolute;
	bottom: 0px;
	left: 40px;
}*/

#winLossComment {
	margin: 20px;
}

#finalComment {
	margin: 20px;
	left: -15px;
}

.footer {
	position: relative;
}

.wrapper {
	min-height: 100%

}

#winningImage img {
	margin-bottom: 20px;
	margin-top: 20px;
	width: 70%;
}


#finalPopup {
	border: 10px ridge lightgray;
	border-radius: 10px;
	background-color: white;
	color: black;
	cursor: pointer;
	height: 540px;
	width: 540px;
    position: absolute;
    top: 0px;
    left:-5px;   
    font-size: 36px;
    text-align: center; 
    visibility:hidden;
    z-index: 10;
}

/*.finalResults {
	width:480px;
	position: absolute;
	bottom:0px;
	left:0px;
}*/

.disable {
	pointer-events: none;
	opacity:0.25;
}

.btn {
	font-size:24px;
	font-weight: bold;
}

.footer h6{
	font-size: 14px;
}